.site-header {
  background: #fff;
  color: $gray-700;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;

  a {
    text-decoration: none;
  }
}

.site-header-inside {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
}

.company_logo_img {
  padding-left: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.site-branding {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.site-title {
  color: $gray-700;
  font-size: 1.33333em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;

  .font-fira-sans & {
    font-weight: 600;
  }
}

.site-logo {
  margin: 0;

  img {
    max-height: 100px;
    margin-left: 0px;
  }

  @media only screen and (max-width:801px){
    img{
      margin-left: 0px;
    }
  }
}

.site-navigation {
  .button {
    font-size: 1em;
  }
}

.site-navigation{
  .menu-button.button.secondary-contact{
      font-size: 0.78889rem;
      line-height: 3;
      margin-right: 0px;
  }
}

.site-navigation-themes{
  .button {
    font-size: 1em;
  }
}

#masthead {
  .site-branding {
    a {
      color: inherit;
    }
  }

  .site-navigation {
    .current-menu-item {
      color: $gray-500;
    }

    a:not(.button) {
      color: inherit;

      &:hover {
        color: $gray-500;
      }
    }
  }

  .site-navigation-themes{
    .current-menu-item {
      color: blue;
    }

    &a:not(.button) {
      font-size: 20px;

    }
  }
}

@media only screen and (min-width: 801px) {
  .menu-toggle {
    display: none;
  }

  .site-navigation,.site-navigation-themes{
    margin-left: auto;

    .menu-item {
      display: inline-block;
      margin: 0 1.4em 0 1.4em;
    }

    .button {
      padding: 0.25em 0.9375em;
    }

    .menu-button + .menu-button {
      margin-left: 0.9375em;
    }

  }

  @supports (position: sticky) or (position: -webkit-sticky) {
    .site-header {
      background: #fff;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 999;

      .has--scrolled & {
        box-shadow: $box-shadow-sm;
      }
    }
  }
}

@media only screen and (min-width:802px){
    #menu-open-themes{
      display:none;
    }
}

@media only screen and (max-width: 801px) {
  .site {
    overflow: hidden;
    position: relative;
  }

  .company_logo_img {
    display: none;
  }

  .site-header {
    &:before {
      background: rgba($gray-100, 0.75);
      content: "";
      height: 100vh;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      -webkit-transition: opacity 0.15s ease-in-out,
        visibility 0s ease-in-out 0.15s;
      transition: opacity 0.15s ease-in-out, visibility 0s ease-in-out 0.15s;
      visibility: hidden;
      width: 100%;
      z-index: 998;
    }
  }

  .menu-toggle {
    background: 0;
    border: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    cursor: pointer;
    font-size: inherit;
    height: 1.66667rem;
    padding: 0;
    position: relative;
    width: 1.66667rem;

    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }

  .menu-toggle-themes {
    background: 0;
    border: 0;
    box-shadow: none;
    color: inherit;
    display: block;
    cursor: pointer;
    font-size: inherit;
    height: 1.66667rem;
    padding: 0;
    position: relative;
    width: 1.66667rem;
    right: 22.5px;

    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }

  #menu-open {
    margin-left: 75px;
  }

  #menu-open-themes{
      margin-left: auto;
      display: block;
  }  

  #menu-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  #menu-close-themes{
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .site-navigation{
    background: #fff;
    box-sizing: border-box;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    right: -400px;
    top: 0;
    -webkit-transition: right 0.3s ease-in-out, visibility 0s 0.3s ease-in-out;
    transition: right 0.3s ease-in-out, visibility 0s 0.3s ease-in-out;
    visibility: hidden;
    width: 400px;
    z-index: 999;

    .menu {
      padding: 3.66667em $container-padding 2.5em;
    }

    .menu-item {
      &:not(.menu-button) {
        border-bottom: 1px solid $gray-200;

        &:first-child {
          border-top: 1px solid $gray-200;
        }
      }

      &.menu-button {
        margin-top: 1.66667em;
      }
    }

    a {
      &:not(.button) {
        display: block;
        padding: 0.75em 0;
      }
    }

    .button {
      width: 100%;
    }
  }

  .site-nav-inside {
    height: 100%;
    overflow: icon-close;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  .site-nav-inside-themes {
    height: 100%;
    overflow: icon-close;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

  .menu--opened {
    .site {
      height: 100%;
      left: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      width: 100%;
      z-index: 997;
    }

    .site-navigation {
      right: 0;
      -webkit-transition: right 0.3s ease-in-out;
      transition: right 0.3s ease-in-out;
      visibility: visible;
    }

    .site-header {
      &:before {
        opacity: 1;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        visibility: visible;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .site-navigation {
    width: 100%;
  }

  #menu-close {
    right: $container-padding;
    top: $container-padding;
  }
}

.menu--opened-themes{
  .site {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
    z-index: 997;
  }

  .site-navigation-themes {
    right: 0;
    -webkit-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
    visibility: visible;
  }

  .site-header {
    &:before {
      opacity: 1;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      visibility: visible;
    }
  }
}

.site-navigation-themes{
  background: black;
  box-sizing: border-box;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: -400px;
  top: 0;
  -webkit-transition: right 0.3s ease-in-out, visibility 0s 0.3s ease-in-out;
  transition: right 0.18s ease-in-out, visibility 0s 0.18s ease-in-out;
  visibility: hidden;
  width: 400px;
  z-index: 999;

  .menu {
    padding: 3.66667em 3vw 3.66667vw 10vw;
  }

  .menu-item {
    &:not(.menu-button) {
      border-bottom: 1px solid $gray-200;;

      &:first-child {
        border-top: 1px solid $gray-200;
      }
    }

    &.menu-button {
      margin-top: 1.66667em;
    }
  }

  .menu-item a {
    &:not(.button) {
      display: block;
      padding: 0.75em 0;
      color: white; 
      text-decoration: none;
    }
  }

  .button {
    width: 100%;
  }
}
